
/*html, body {
    height: 100%;
}*/

.logo {
	font-family : Copperplate, 'Alegreya SC', serif;
}


body#login .background-image {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  z-index: -10;
  display: block;
  background-image: url("../img/login-bg1.png");
  background-size: cover;
  background-position-x: center;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.8;
}

body#login {
	/*background-image: url("../img/login-bg1.png");
	background-size: cover;*/
}
body#login img.loginlogo{
  width: 30%;
}
body#login > .container{

}
body#login > .container > .row.headline{
  padding-top:10%;
  padding-bottom:10%;
  height: 35%;
  top: 10%;
}
body#login > .container > .row.bottomline{
  height: 35%;
}
body#login > .container > .row.bottomline a.btn{
  padding: 2em 1em;
  width:100%;
  opacity: 0.8;
}

/* black */
body#login.t2 .background-image {
  background-image: url("../img/login-bg2.png");
  background-size: cover;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.7;
}

/* hand */
.hand-image:{
  display:none;
}
body#login.hand .hand-image {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  z-index: -10;
  display: block;
  background-image: url("../img/login-bg3.png");
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: 1.0;
}
