
{% extends "postermaker/base.html" %}

{% block title %}voteme - energize people to vote{% endblock title %}
{% block body_id %}poster{% endblock %}
{% block topbar %}
 {% include "postermaker/_header.html" %}
{% endblock %}
{% block content %}

<h1>あなたと似た発言をしている候補者はこの人！</h1>

{% for candidate in candidates %}
<ul>
  <li><img src="{{ candidate.politician.twitter_profile_image_url }}"/></li>
  <li>@{{ candidate.politician.twitter_account }}</li>
  <li>{{ candidate.politician.manifest }}</li>
  <li>
  {% for category in candidate.matched_categories %}
    {{ category }}
  {% endfor %}
  </li>
  <li>マッチ度 {{ candidate.score }} 点</li>
</ul>
{% endfor %}

{% endblock content %}
