{% extends "postermaker/base.html" %}
{% load staticfiles %}

{% block title %}voteme - energize people to vote{% endblock title %}
{% block body_id %}login{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="logo text-center">
      <img src="{% static "postermaker/img/vote.png" }">
      <h1>Vote Me</h1>
    </div>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <ul>

      <li>
        <a href="{% url 'social:begin' 'twitter' %}">Login using Twitter</a>
      </li>
    </ul>
  </div><!--col-->
</div><!--row-->
{% endblock content %}
